# compiled output
/dist
/node_modules

# logs
/logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# env
.env
.env.local

# IDE
.idea
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store

# tests
/coverage
/test/.e2e-pgdata

# GraphQL schema is generated at build time (autoSchemaFile)
/src/schema.gql
